<!-- <div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-right">&copy Copyrights by Nariman El-Samadoni</p>
  </div>
</div>
 -->
<footer id="footer">
  <div class="container">
    <p class="pull-right footer-center">&copy Copyrights by Nariman El-Samadoni</p>
  </div>
</footer>