<% provide(:title, "Invention Information") %>

<div class="container bot-padding">
  <div class"row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2 class="text-primary inv-title bot-padding"><u>Microscope</u></h2>
      <p class="inv-img bot-padding"><%= image_tag('Microscope.gif', class: "thumbnail" )%></p>
      <p class="text-primary text-center bot-padding"> 
        A Microscope is an instrunment used to see objects that are too small to be seen by the 
        naked eye. There are many types of microscopes; The most common and the first to be invented is
        the optical microscope which uses light to image the sample. Othe major types of microscopes are
        the electron microscope and the ultramicroscope.
      </p>
    </div>
  </div>
</div>