<% provide(:title, "Play a Game") %>

<div class="container-fluid">
  <div class= "row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <a class="btn btn-info pull-right" href="#">
          <%= image_tag('coins.png') %>
          Challenge Me
        </a>
        <p class="pull-left text-center score"> Total Score: <%= image_tag('coins.png') %> 0 </p>
    </div>
  </div>
</div>

<div class="container-fluid">
<!--   <div id="map-container">
    <div id="map-canvas"></div>
  </div> -->
  <div id="map-container">
    <div id="pano"></div>
  </div>
  <div id="position_cell">
  </div>
</div>

<% content_for :gmap do %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize' %>
<% end %>
